<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi Pesan</title>
</head>

<body>
    <h2>Konfirmasi</h2>
    <p>Anda yakin akan menambahkan pesan ini?</p>

    <form action="/save/" method="POST">
        {% csrf_token %}
        <p>
            <input type="text" name="name" id="name" value="{{name}}" readonly>
        </p>
        <p>
            <textarea name="message" id="message" cols="30" rows="10" readonly>{{message}}</textarea>
        </p>

        <button type="submit">Konfirmasi</button>
    </form>
</body>

</html>