{% load static %}

<html>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .dark-mode {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>

<div class="container" style="margin-top: 2em">
    <h1>My Profile</h1>
    <p>
        <button class="btn btn-primary" id="mode-switch">Ganti Mode Warna</button>
    </p>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Biodata</a>
                    <button class="btn btn-primary button-up"> ^ </button>
                    <button class="btn btn-primary button-down"> v </button>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Nama: Samuel Mulatua Jeremy</p>
                    <p>Angkatan: 2019</p>
                    <p>Jurusan: Ilmu Komputer</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="panel-2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Pengalaman Organisasi dan Kepanitiaan</a>
                    <button class="btn btn-primary button-up"> ^ </button>
                    <button class="btn btn-primary button-down"> v </button>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Eksul saat SMA </li>
                        <li>Kalo di pacil blom ikut sih:')</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="panel-3">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Prestasi</a>
                    <button class="btn btn-primary button-up"> ^ </button>
                    <button class="btn btn-primary button-down"> v </button>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul>
                    <li>Lomba Menggambar saat TK</li>
                    <li>Lomba makan kerupuk 17 Agustus tingkat RT</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default" id="panel-4">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Aktivitas Saat Ini</a>
                    <button class="btn btn-primary button-up"> ^ </button>
                    <button class="btn btn-primary button-down"> v </button>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Ngoding</li>
                        <li>Ngopi</li>
                        <li>Tidur</li>
                        <li>Repeat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static "script.js" %}"></script>

<script>

</script>
</html>